@page "/account"

<PageTitle>Account-Info</PageTitle>
<h1>Account Info</h1>

<AuthorizeView>
    <Authorized>
        <p>Account: @context.User.Identity.Name</p>
        <p>type: @context.User.Identity.AuthenticationType</p>
    </Authorized>
</AuthorizeView>