@page "/account"

<PageTitle>Account-Info</PageTitle>
<h1>Account Info</h1>

<AuthorizeView>
    <Authorized>
        @if (@context.User.Identity is not null)
        {
            <p>Account: @context.User.Identity.Name</p>
            <p>type: @context.User.Identity.AuthenticationType</p>
        }
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator">
    <Authorized>
        <p>You are an Administrator</p>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Teacher">
    <Authorized>
        <p>You are a Teacher</p>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Parent">
    <Authorized>
        <p>You are a Parent</p>
    </Authorized>
</AuthorizeView>