@inherits LayoutComponentBase

<PageTitle>E-track</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">

			<div style="width:40px;text-align:right;">
				<a class="btn btn-sm btn-primary text-white" title="Account" href=""><span class="oi oi-bell"></span></a>
			</div>
			<div style="width:40px;text-align:right;">
				<a class="btn btn-sm btn-primary text-white" title="Account" href="/account"><span class="oi oi-key"></span></a>
			</div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
