.add-section-container {
    background-color: lightgray;
    color: var(--gray-3);
    padding: 0.5em;
    margin-bottom: 1em;
    font-size: larger;
    display: flex;
    align-items: center;
    font-weight: bold;

    .add-icon {
        font-size: 2em;
        padding: 0;
        margin: 0;
        margin-right: 0.2rem;
    }

    p {
        margin: 0;
        padding: 0;
        transform: translateY(0.1em);
    }
    user-select: none;
    transition: background-color 50ms;
}

.add-section-container:hover {
    background-color: var(--gray-4);
}

.add-section-container:active {
    background-color: var(--gray-5);
}